# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/.vs/angular-admin/FileContentIndex/36fdcdc7-d260-4538-a668-798544e2c14e.vsidx
/.vs/angular-admin/FileContentIndex/read.lock
/.vs/angular-admin/FileContentIndex
/.vs/HRM_Admin/FileContentIndex/cc751f51-5f3d-4884-a66a-04c3348302bb.vsidx
*.vsidx
*.lock
