<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">

    <h2>Home</h2>

    <button routerLink="/sales"
            mat-flat-button
            color="primary"
            class="action">
      <mat-icon class="mr-2">add</mat-icon>
      <span>New sale</span>
    </button>
  </div>
  <!-- column -->
</div>
