<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">

    <h2>Dashboard</h2>

    <app-admin-dashboard *ngIf="userRole=='admin'"></app-admin-dashboard>
    <app-company-dashboard *ngIf="userRole=='company'"></app-company-dashboard>
    <app-employee-dashboard *ngIf="userRole=='employee'"></app-employee-dashboard>

  </div>
</div>
