<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>
          Employee
          <button mat-icon-button aria-label="Add" (click)="openAddEmployeesPopup('save','')">
            <mat-icon>group_add</mat-icon>
          </button>
        </mat-card-title>

        <div class="card-block p-0">
          <div class="row">
            <div class="col-md-2">
              <label>Full Name:</label>
              <input [(ngModel)]="searchEmployeesRqst.fullName" class="form-control" type="text" />
            </div>
            <div class="col-md-2">
              <label>Employment type:</label>
              <input [(ngModel)]="searchEmployeesRqst.employmentType" class="form-control" type="text" />
            </div>
            <div class="col-md-2">
              <label>Department:</label>
              <input [(ngModel)]="searchEmployeesRqst.department" class="form-control" type="text" />
            </div>
            <div class="col-md-2">
              <label>Team:</label>
              <input [(ngModel)]="searchEmployeesRqst.team" class="form-control" type="text" />
            </div>
            <div class="col-md-2">
              <button style="margin-top:30px" class="btn btn-primary" (click)="getEmployeeList()">Search</button>
            </div>
          </div>
          <div class="row" style="margin-top:50px">
            <table class="table table-bordered table-sm m-0">
              <thead class="">
                <tr>
                  <th>#</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Employment type</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let emp of employeelist | paginate:config_pgEmployeeList;let i = index;">
                  <td>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-indicator">{{i+1}}</span>
                    </label>
                  </td>
                  <td>{{emp.fullName}}</td>
                  <td>{{emp.email}}</td>
                  <td>{{emp.employmentType}}</td>
                  <td>
                    <button mat-icon-button aria-label="Edit" (click)="openAddEmployeesPopup('update',emp)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                  <td>
                    <button mat-icon-button aria-label="Delete" (click)="deleteCompanyPopup(emp)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                  <td>
                    <button mat-icon-button aria-label="Detail" (click)="showEmployeeDetaiPopup(emp)">
                      <mat-icon>dehaze</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr class="no-data" *ngIf="employeelist?.length < 1">
                  <td colspan="5">No data available in table</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="full-width" fxLayout="row" fxLayoutAlign="end" style="margin-top:10px" *ngIf="employeelist?.length > 0">
            <pagination-controls class="custom-pagination dialog-pagination" id="pg_EmployeeList"
                                 (pageChange)="onPageChanged($event)" directionLinks="false"></pagination-controls>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
