
<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" [(ngModel)]="userName" [ngModelOptions]="{standalone:true}">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button (click)="onClickLogin()">Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
